version: "3.8"

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=solidifica_user
      - POSTGRES_PASSWORD=solidifica_pass
      - POSTGRES_DB=solidifica_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
